.container {
    display:flex;
    flex-direction: column;
}

.product-info {
    padding: 2.5rem;
}

.individual-card {
    border: 1px solid black;
    margin: .5rem;
    padding: 2rem;
}

img {
    width: 70%;
    height: 70%;
}
.inventory-info {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-around;
}